<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
        xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Taco Design</title>
<link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
	<h1>Welcome to Custom Taco Design Page</h1>
	<img th:src="@{images/taco1.jpg}">
	<form method="POST"  th:object="${design}">
		<div class="grid">
			<div class="ingredient-group" id="wrap">
				<h3>Designate your Wrap:</h3>
				<div th:each="ingredient: ${wrap}">
					<input type="checkbox" name = "ingredients" th:value="${ingredient.id}">
					<span th:text="${ingredient.name}">INGREDIENT</span>
				</div>
			</div>
			
			<div class="ingredient-group" id="protein">
				<h3>Pick your Protein:</h3>
				<div th:each="ingredient: ${protein}">
					<input type="checkbox" name = "ingredients" th:value="${ingredient.id}">
					<span th:text="${ingredient.name}">INGREDIENT</span>
				</div>
			</div>
			
			<div class="ingredient-group" id="cheese">
				<h3>Designate your Cheese:</h3>
				<div th:each="ingredient: ${cheese}">
					<input type="checkbox" name = "ingredients" th:value="${ingredient.id}">
					<span th:text="${ingredient.name}">INGREDIENT</span>
				</div>
			</div>
			
			<div class="ingredient-group" id="sauce">
				<h3>Designate your Sauce:</h3>
				<div th:each="ingredient: ${sauce}">
					<input type="checkbox" name = "ingredients" th:value="${ingredient.id}">
					<span th:text="${ingredient.name}">INGREDIENT</span>
				</div>
			</div>
			<br><br>
			
		</div>
		<h3>Name your Taco creation:</h3>
		<input type="text" th:name="name"/>
		<button type="submit" class="btn-success">Place Order</button>
		
	</form>
	
</body>
</html>